<!-- 首页轮播 -->
<link rel="stylesheet" href="/themes/<%=staticforder%>/css/index.css?vesion=<%=siteConfig.version%>">

<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>  
<!--     <div class="carousel-inner">
        <div style="background: url('/themes/<%=staticforder%>/images/hospital.jpg') no-repeat center right;" class="item active">
        </div>
        <div style="background: url('/themes/<%=staticforder%>/images/health.jpg') no-repeat center center;" class="item">
        </div>
        <div style="background: url('/themes/<%=staticforder%>/images/hospital3.jpg') no-repeat center center;" class="item"></div>
    </div> -->
    <div class="carousel-inner">
        <div class="item ratio-img-wrap-index active">
            <img src="/themes/<%=staticforder%>/images/hospital.jpg">
        </div>
        <div class="item ratio-img-wrap-index">
            <img src="/themes/<%=staticforder%>/images/health.jpg">
        </div>
        <div class="item ratio-img-wrap-index">
            <img src="/themes/<%=staticforder%>/images/hospital3.jpg">
        </div>
    </div>
</div>

<div class="mainbody container">

    <div class="function-blocks row clearfix">
        <div class="block-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div style="background: #3eb3ab;" class="fun-block">
                <div class="info">
                    <div class="icon">
                        <i style="color: white;" class="fa fa-hospital-o"></i>
                    </div>
                    <h4 style="color: white;">就医须知</h4>
                </div>
            </div>
        </div>
        <div class="block-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div style="background: url('/themes/<%=staticforder%>/images/test.jpg') no-repeat center center;" class="fun-block">
                <div class="info">
                    <div class="icon">
                        <i class="fa fa-heartbeat"></i>
                    </div>
                    <h4>体检中心</h4>
                </div>
            </div>
        </div>
        <div class="block-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div style="background: #5bc0eb;" class="fun-block">
                <div class="info">
                    <div class="icon">
                        <i style="color: white;" class="fa fa-map-marker"></i>
                    </div>
                    <h4 style="color: white;">医院位置</h4>
                </div>
            </div>
        </div>
        <div class="block-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div style="background: #fff6cb;" class="fun-block">
                <div class="info">
                    <div class="icon">
                        <i style="color: #9c9676; text-shadow: none;" class="fa fa-medkit"></i>
                    </div>
                    <h4 style="color: #9c9676; text-shadow: none;">报销政策</h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="index-news row clearfix">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="news-block">
                <a class="ratio-img-wrap-65">
                    <!-- <img src="/themes/<%=staticforder%>/images/news2.jpg" alt=""> -->
                    <img src="<%=picNews[0].sImg%>" alt="">
                </a>
                <div class="content">
                    <div class="category">
                        <h4>最新动态
                            <span class="fr"><a href="/contentList/hospitalNews">查看更多</a></span>
                        </h4>
                        <ul>
<!--                             <li>
                                <a class="ellipsis" href="">2018年清明、五一、端午节日门诊工作安排</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">旌德县人民医院门诊挂号攻略</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">2018年旌德县人民医院内分泌科骨质疏松症健康</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">2018年清明、五一、端午节日门诊工作安排</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">旌德县人民医院门诊挂号攻略</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">2018年旌德县人民医院内分泌科骨质疏松症健康</a>
                            </li> -->
                            <% if(picNews.length>0){ %>
                            <% picNews.forEach(function(item){ %>
                                    <li>
                                        <a href="/details/<%=item._id%>.html" class="ellipsis"><%=item.title%></a>
                                    </li>
                                <% }) %>
                            <% }else{ %>
                                <li class="text-center">暂无推荐内容...</li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="news-block">
                <a class="ratio-img-wrap-65">
                    <img src="/themes/<%=staticforder%>/images/news1.jpg" alt="">
                </a>
                <div class="content">
                    <div class="category">
                        <h4>通知公告
                            <span class="fr">查看更多</span>
                        </h4>
                        <ul>
                            <li>
                                <a class="ellipsis" href="">2018年清明、五一、端午节日门诊工作安排</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">旌德县人民医院门诊挂号攻略</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">2018年旌德县人民医院内分泌科骨质疏松症健康</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">2018年清明、五一、端午节日门诊工作安排</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">旌德县人民医院门诊挂号攻略</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">2018年旌德县人民医院内分泌科骨质疏松症健康</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="news-block">
                <a class="ratio-img-wrap-65">
                    <img src="/themes/<%=staticforder%>/images/news3.jpg" alt="">
                </a>
                <div class="content">
                    <div class="category">
                        <h4>院务公开
                            <span class="fr">查看更多</span>
                        </h4>
                        <ul>
                            <li>
                                <a class="ellipsis" href="">2018年清明、五一、端午节日门诊工作安排</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">旌德县人民医院门诊挂号攻略</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">2018年旌德县人民医院内分泌科骨质疏松症健康</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">2018年清明、五一、端午节日门诊工作安排</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">旌德县人民医院门诊挂号攻略</a>
                            </li>
                            <li>
                                <a class="ellipsis" href="">2018年旌德县人民医院内分泌科骨质疏松症健康</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include public/departmentNav %>
    <% include public/variousBlocks %>

<!--     <div style="background-color:#fff; padding:20px 0;">
        <div class="hotNews">
            <p class="titleIntro">热点新闻</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left-frame">
                    </div>
                    <div class="col-md-6 right-frame">
                        <div style="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#f9f9f9; padding:20px 0;">
        <div class="doctors">
            <p class="titleIntro">医疗骨干</p>
        </div>
    </div>
    <div style="padding:20px 0;">
        <div class="patientsService">
            <p class="titleIntro">患者服务</p>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="innerBoard" style="background-color:#d07f81;">
                            <p>就医流程</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="innerBoard" style="background-color:#5e95b5;">
                            <p>科室分布</p>
                        </div>
                    </div>
                </div>
                <div class="patientsContent">
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="innerBoard" style="background-color:#caa378;">
                            <p>交通指南</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="innerBoard" style="background-color:#68b4b5;">
                            <p>体检中心</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#f9f9f9; padding:20px 0;">
        <div class="departments">
            <p class="titleIntro">科室一览</p>
        </div>
    </div> -->
</div>