<!-- 首页轮播 -->
<link rel="stylesheet" href="/themes/<%=staticforder%>/css/index.css?vesion=<%=siteConfig.version%>">

<div id="myCarousel" class="carousel slide">
<!--     <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   -->
<!--     <div class="carousel-inner">
        <div style="background: url('/themes/<%=staticforder%>/images/hospital.jpg') no-repeat center right;" class="item active">
        </div>
        <div style="background: url('/themes/<%=staticforder%>/images/health.jpg') no-repeat center center;" class="item">
        </div>
        <div style="background: url('/themes/<%=staticforder%>/images/hospital3.jpg') no-repeat center center;" class="item"></div>
    </div> -->
    <div class="carousel-inner">
        <a href="https://mp.weixin.qq.com/s/5tfaLJiXgjJNURZUBtXjLw" target="_blank" class="item ratio-img-wrap-index active">
            <img class="wide" src="/themes/<%=staticforder%>/images/hospital_wide.jpg">
            <img class="square" src="/themes/<%=staticforder%>/images/hospital_square.jpg">
        </a>
        <a href="https://mp.weixin.qq.com/s/rYk2E3zWI6C59iKTJbwsjA" target="_blank" class="item ratio-img-wrap-index">
            <img class="wide" src="/themes/<%=staticforder%>/images/health_wide.jpg">
            <img class="square" src="/themes/<%=staticforder%>/images/health_square.jpg">
        </a>
        <div class="item ratio-img-wrap-index">
            <img class="wide" src="/themes/<%=staticforder%>/images/nurse_wide.jpg">
            <img class="square" src="/themes/<%=staticforder%>/images/nurse_square.jpg">
        </div>
    </div>
</div>

<div class="mainbody container">

    <div class="function-blocks row clearfix">
        <div class="block-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="fun-block rImg75">
                <a href="/guides#tips">
                    <div class="info">
                        <div class="icon">
                            <i style="color: white;" class="fa fa-hospital-o"></i>
                        </div>
                        <h4 style="color: white;">就医须知</h4>
                    </div>
                </a>
                <img style="background: #3eb3ab;" src="" alt="">
            </div>
        </div>
        <div class="block-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="fun-block rImg75">
                <a target="_blank" href="https://mp.weixin.qq.com/s/0NlZmAhmFauHN01O-98fzw">
                    <div class="info">
                        <div class="icon">
                            <i style="color: white;" class="fa fa-heartbeat"></i>
                        </div>
                        <h4>体检中心</h4>
                    </div>
                </a>
                <img src="/themes/<%=staticforder%>/images/test.jpg" alt="">
            </div>
        </div>
        <div class="block-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="fun-block rImg75">
                <a href="/guides#position">
                    <div class="info">
                        <div class="icon">
                            <i style="color: white;" class="fa fa-map-marker"></i>
                        </div>
                        <h4 style="color: white;">医院位置</h4>
                    </div>
                </a>
                <img style="background: #5bc0eb;" src="" alt="">
            </div>
        </div>
        <div class="block-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="fun-block rImg75">
                <a href="/guides#insurance">
                    <div class="info">
                        <div class="icon">
                            <i style="color: #9c9676; text-shadow: none;" class="fa fa-medkit"></i>
                        </div>
                        <h4 style="color: #9c9676; text-shadow: none;">报销政策</h4>
                    </div>
                </a>
                <img style="background: #fff6cb;" src="" alt="">
            </div>
        </div>
    </div>
    
    <div class="index-news row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="news-block box-shadow bg-w">
                <%if (hospitalNews.length>0) {%>
                    <a class="rImg65" 
                       target="<%= hospitalNews[0].originUrl ? '_blank' : '_self'%>" 
                       href="<%= hospitalNews[0].originUrl || '/details/' + hospitalNews[0]._id + '.html' %>">
                        <img src="<%=hospitalNews[0].sImg%>" alt="">
                    </a>
                <%}else{%>
                    <a class="rImg65" href="javascript:;">
                        <img src="/themes/<%=staticforder%>/images/news2.jpg" alt="">
                    </a>
                <%}%>
                <div class="content">
                    <div class="category">
                        <h4>最新动态
                            <span class="fr"><a class="link" href="/contentList/hospitalNews">查看更多</a></span>
                        </h4>
                        <ul>
                            <% if(hospitalNews.length>0){ %>
                            <% hospitalNews.forEach(function(item){ %>
                                    <li title="<%=item.title%>" alt="<%=item.title%>">
                                        <a target="<%= item.originUrl ? '_blank' : '_self'%>" href="<%= item.originUrl || '/details/' + item._id + '.html' %>" class="link ellipsis <%= item.isTop ? 'top' : '' %>"><%=item.title%></a>
                                    </li>
                                <% }) %>
                            <% }else{ %>
                                <li class="text-center">暂无推荐内容...</li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="news-block box-shadow bg-w">
                <%if (notices.length>0) {%>
                    <a class="rImg65" 
                       target="<%= notices[0].originUrl ? '_blank' : '_self'%>" 
                       href="<%= notices[0].originUrl || '/details/' + notices[0]._id + '.html' %>">
                        <img src="<%=notices[0].sImg%>" alt="">
                    </a>
                <%}else{%>
                    <a class="rImg65" href="javascript:;">
                        <img src="/themes/<%=staticforder%>/images/news1.jpg" alt="">
                    </a>
                <%}%>
                <div class="content">
                    <div class="category">
                        <h4>信息公开
                            <span class="fr"><a class="link" href="/contentList/notices">查看更多</a></span>
                        </h4>
                        <ul>
                            <% if(notices.length>0){ %>
                            <% notices.forEach(function(item){ %>
                                    <li title="<%=item.title%>" alt="<%=item.title%>">
                                        <a target="<%= item.originUrl ? '_blank' : '_self'%>" href="<%= item.originUrl || '/details/' + item._id + '.html' %>" class="link ellipsis <%= item.isTop ? 'top' : '' %>"><%=item.title%></a>
                                    </li>
                                <% }) %>
                            <% }else{ %>
                                <li class="text-center">暂无推荐内容...</li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="news-block box-shadow bg-w">
                <%if (hospitalCultures.length>0) {%>
                    <a class="rImg65" 
                       target="<%= hospitalCultures[0].originUrl ? '_blank' : '_self'%>" 
                       href="<%= hospitalCultures[0].originUrl || '/details/' + hospitalCultures[0]._id + '.html' %>">
                        <img src="<%=hospitalCultures[0].sImg%>" alt="">
                    </a>
                <%}else{%>
                    <a class="rImg65" href="javascript:;">
                        <img src="/themes/<%=staticforder%>/images/news3.jpg" alt="">
                    </a>
                <%}%>
                <div class="content">
                    <div class="category">
                        <h4>医院文化
                            <span class="fr"><a class="link" href="/contentList/hospitalCultures">查看更多</a></span>
                        </h4>
                        <ul>
                            <% if(hospitalCultures.length>0){ %>
                                <% hospitalCultures.forEach(function(item){ %>
                                    <li title="<%=item.title%>" alt="<%=item.title%>">
                                        <a target="<%= item.originUrl ? '_blank' : '_self'%>" href="<%= item.originUrl || '/details/' + item._id + '.html' %>" class="link ellipsis <%= item.isTop ? 'top' : '' %>"><%=item.title%></a>
                                    </li>
                                <% }) %>
                            <% }else{ %>
                                <li class="text-center">暂无推荐内容...</li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include public/departmentNav %>
    <% include public/variousBlocks %>
</div>

