<!-- 首页轮播 -->
<link rel="stylesheet" href="/themes/<%=staticforder%>/css/index.css?vesion=<%=siteConfig.version%>">
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>  
    <div class="carousel-inner">
        <div style="background: url('/themes/<%=staticforder%>/images/hospital.jpg') no-repeat center right;" class="item active">
        </div>
        <div style="background: url('/themes/<%=staticforder%>/images/health.jpg') no-repeat center center;" class="item">
        </div>
        <div style="background: url('/themes/<%=staticforder%>/images/hospital3.jpg') no-repeat center center;" class="item"></div>
    </div>
</div>

<div class="mainbody container">

    <div class="function-blocks clearfix">
        <div style="background: #4ECDC4" class="fun-block"></div>
        <div style="background: #fff" class="fun-block"></div>
        <div style="background: #5bc0eb" class="fun-block"></div>
        <div style="background: #fff6cb" class="fun-block"></div>
    </div>
    
    <div class="index-news clearfix">
        <div class="news-block">
            <a class="image">
                <img src="/themes/<%=staticforder%>/images/news1.jpg" alt="">
            </a>
            <div class="content">
                
            </div>
        </div>
        <div class="news-block">
            <a class="image">
                <img src="/themes/<%=staticforder%>/images/news2.jpg" alt="">
            </a>
            <div class="content">
                
            </div>
        </div>
        <div class="news-block">
            <a class="image">
                <img src="/themes/<%=staticforder%>/images/news3.jpg" alt="">
            </a>
            <div class="content">
                
            </div>
        </div>
    </div>

    <% include public/departmentNav %>
    <% include public/variousBlocks %>

<!--     <div style="background-color:#fff; padding:20px 0;">
        <div class="hotNews">
            <p class="titleIntro">热点新闻</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left-frame">
                    </div>
                    <div class="col-md-6 right-frame">
                        <div style="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#f9f9f9; padding:20px 0;">
        <div class="doctors">
            <p class="titleIntro">医疗骨干</p>
        </div>
    </div>
    <div style="padding:20px 0;">
        <div class="patientsService">
            <p class="titleIntro">患者服务</p>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="innerBoard" style="background-color:#d07f81;">
                            <p>就医流程</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="innerBoard" style="background-color:#5e95b5;">
                            <p>科室分布</p>
                        </div>
                    </div>
                </div>
                <div class="patientsContent">
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="innerBoard" style="background-color:#caa378;">
                            <p>交通指南</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="innerBoard" style="background-color:#68b4b5;">
                            <p>体检中心</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#f9f9f9; padding:20px 0;">
        <div class="departments">
            <p class="titleIntro">科室一览</p>
        </div>
    </div> -->
</div>