<div class="content-post-wrap col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <div class="content-post">
        <div class="img-wrap">
            <a class="rImg57" 
               title="<%=item.title%>"
               target="<%= item.originUrl ? '_blank' : '_self'%>" 
               href="<%= item.originUrl || '/details/' + item._id + '.html' %>">
                <img alt="<%=item.title%>" src="<%=item.sImg%>">
            </a>
        </div>
        <div class="text-wrap">
            <a class="title ellipsis" 
                alt="<%=item.title%>" 
                title="<%=item.title%>" 
                target="<%= item.originUrl ? '_blank' : '_self'%>" 
                href="<%= item.originUrl || '/details/' + item._id + '.html' %>"
            >
                <%=item.title%>
            </a>
            <h5 class="clearfix">
                <span class="fl">
                    作者：旌德县人民医院
                </span>
                <span class="fr">
                    <!-- <%=myDateFormat(item.date)%> -->
                    <%=item.dateSeted%>
                </span>
            </h5>
            <p class="intro">
                <%=item.description && item.description.slice(0,70)%>
                <%=item.description && item.description.length > 70 ? '......' : ''%>
            </p>
        </div>
    </div>
</div>
