<link rel="stylesheet" href="/themes/<%=staticforder%>/css/doctors.css?vesion=<%=siteConfig.version%>">
<div class="doctors-wrap pt20 container">
    <div class="innerBanner" style="display:none;"><img src="/themes/<%=staticforder%>/images/aboutDoctors.jpg" style="width:100%;"></div>
    
    <h5 class="position">您现在的位置：<a href="/">首页</a> > <a href="">医生介绍</a></h5>

    <div class="page-intro">
        <h2>
            医生介绍
        </h2>
        <h4>
            介绍本院医生团队
        </h4>
    </div>

    <%if(doctors.length>0){%>
        <%doctors.forEach(function(doctor){%>
            <%if(doctor.department == '外科'){%>
                <div class="single-department clearfix">
                    <h4>外科医生一览</h4>
                    <div class="single-doctor col-md-3 col-sm-4 col-xs-6">
                        <a href="javascript:;">
                        <div class="rImgDoc">
                            <span class="mask">
                                <p class="name"><%=doctor.doctor%></p>
                                <p class="intro"><%=doctor.professional.split(',').join(' ')%></p>
                            </span>
                            <img src="<%=doctor.sImg%>" alt="">
                        </div>
                        </a>
                    </div>
                </div>
            <%}%>

            <%if(doctor.department == '内科'){%>
                <div class="single-department clearfix">
                    <h4>内科医生一览</h4>
                    <div class="single-doctor col-md-3 col-sm-4 col-xs-6">
                        <a href="javascript:;">
                        <div class="rImgDoc">
                            <span class="mask">
                                <p class="name"><%=doctor.doctor%></p>
                                <p class="intro"><%=doctor.professional.split(',').join(' ')%></p>
                            </span>
                            <img src="<%=doctor.sImg%>" alt="">
                        </div>
                        </a>
                    </div>
                </div>
            <%}%>
        <%})%>
    <%}%>
    <p class="pageIntro" style=""><a href="/aboutDepartments" style="color:white;">点击查看科室一览</a></p>
</div>

<script type="text/javascript">
    $(function() {
        $('.first-nav.doctors').addClass('active')
    })
</script>
