<link rel="stylesheet" href="/themes/<%=staticforder%>/css/doctors.css?vesion=<%=siteConfig.version%>">
<div class="doctors-wrap pt20 container">
    <div class="innerBanner" style="display:none;"><img src="/themes/<%=staticforder%>/images/aboutDoctors.jpg" style="width:100%;"></div>
    
    <h5 class="position">您现在的位置：<a href="/">首页</a> > <a href="">医生介绍</a></h5>

    <div class="page-intro">
        <h2>
            医生介绍
        </h2>
        <h4>
            介绍本院医生团队
        </h4>
    </div>

    <%if(doctors.length>0){%>
        <h4 class="doctor-intro trigger">外一科医生介绍</h4>
        <div class="single-department clearfix">
            <%doctors.forEach(function(doctor){%>
                <%if(doctor.department == '外一科'){%>
                    <div data-description="<%=doctor.description%>"
                         data-department="<%=doctor.department%>"
                         data-doctor="<%=doctor.doctor%>"
                         data-professional="<%=doctor.professional%>"
                         data-simg="<%=doctor.sImg%>" 
                         class="single-doctor col-md-3 col-sm-4 col-xs-6">
                        <a href="javascript:;">
                        <div class="rImgDoc">
                            <span class="mask">
                                <p class="name"><%=doctor.doctor%></p>
                                <p class="intro"><%=doctor.professional.split(',').join(' ')%></p>
                            </span>
                            <img src="<%=doctor.sImg%>" alt="">
                        </div>
                        </a>
                    </div>
                <%}%>
            <%})%>
        </div>

        <h4 class="doctor-intro">内科医生介绍</h4>
        <div class="single-department clearfix">
            <%doctors.forEach(function(doctor){%>
                <%if(doctor.department == '内科'){%>
                    <div data-description="<%=doctor.description%>"
                         data-department="<%=doctor.department%>"
                         data-doctor="<%=doctor.doctor%>"
                         data-professional="<%=doctor.professional%>"
                         data-simg="<%=doctor.sImg%>" 
                         class="single-doctor col-md-3 col-sm-4 col-xs-6">
                        <a href="javascript:;">
                        <div class="rImgDoc">
                            <span class="mask">
                                <p class="name"><%=doctor.doctor%></p>
                                <p class="intro"><%=doctor.professional.split(',').join(' ')%></p>
                            </span>
                            <img src="<%=doctor.sImg%>" alt="">
                        </div>
                        </a>
                    </div>
                <%}%>
            <%})%>
        </div>

        <h4 class="doctor-intro">中医科医生介绍</h4>
        <div class="single-department clearfix">
            <%doctors.forEach(function(doctor){%>
                <%if(doctor.department == '中医科'){%>
                    <div data-description="<%=doctor.description%>"
                         data-department="<%=doctor.department%>"
                         data-doctor="<%=doctor.doctor%>"
                         data-professional="<%=doctor.professional%>"
                         data-simg="<%=doctor.sImg%>" 
                         class="single-doctor col-md-3 col-sm-4 col-xs-6">
                        <a href="javascript:;">
                        <div class="rImgDoc">
                            <span class="mask">
                                <p class="name"><%=doctor.doctor%></p>
                                <p class="intro"><%=doctor.professional.split(',').join(' ')%></p>
                            </span>
                            <img src="<%=doctor.sImg%>" alt="">
                        </div>
                        </a>
                    </div>
                <%}%>
            <%})%>
        </div>

        <h4 class="doctor-intro">眼科医生介绍</h4>
        <div class="single-department clearfix">
            <%doctors.forEach(function(doctor){%>
                <%if(doctor.department == '眼科'){%>
                    <div data-description="<%=doctor.description%>"
                         data-department="<%=doctor.department%>"
                         data-doctor="<%=doctor.doctor%>"
                         data-professional="<%=doctor.professional%>"
                         data-simg="<%=doctor.sImg%>" 
                         class="single-doctor col-md-3 col-sm-4 col-xs-6">
                        <a href="javascript:;">
                        <div class="rImgDoc">
                            <span class="mask">
                                <p class="name"><%=doctor.doctor%></p>
                                <p class="intro"><%=doctor.professional.split(',').join(' ')%></p>
                            </span>
                            <img src="<%=doctor.sImg%>" alt="">
                        </div>
                        </a>
                    </div>
                <%}%>
            <%})%>
        </div>

        <h4 class="doctor-intro">儿科医生介绍</h4>
        <div class="single-department clearfix">
            <%doctors.forEach(function(doctor){%>
                <%if(doctor.department == '儿科'){%>
                    <div data-description="<%=doctor.description%>"
                         data-department="<%=doctor.department%>"
                         data-doctor="<%=doctor.doctor%>"
                         data-professional="<%=doctor.professional%>"
                         data-simg="<%=doctor.sImg%>" 
                         class="single-doctor col-md-3 col-sm-4 col-xs-6">
                        <a href="javascript:;">
                        <div class="rImgDoc">
                            <span class="mask">
                                <p class="name"><%=doctor.doctor%></p>
                                <p class="intro"><%=doctor.professional.split(',').join(' ')%></p>
                            </span>
                            <img src="<%=doctor.sImg%>" alt="">
                        </div>
                        </a>
                    </div>
                <%}%>
            <%})%>
        </div>

        <h4 class="doctor-intro">妇产科医生介绍</h4>
        <div class="single-department clearfix">
            <%doctors.forEach(function(doctor){%>
                <%if(doctor.department == '妇产科'){%>
                    <div data-description="<%=doctor.description%>"
                         data-department="<%=doctor.department%>"
                         data-doctor="<%=doctor.doctor%>"
                         data-professional="<%=doctor.professional%>"
                         data-simg="<%=doctor.sImg%>" 
                         class="single-doctor col-md-3 col-sm-4 col-xs-6">
                        <a href="javascript:;">
                        <div class="rImgDoc">
                            <span class="mask">
                                <p class="name"><%=doctor.doctor%></p>
                                <p class="intro"><%=doctor.professional.split(',').join(' ')%></p>
                            </span>
                            <img src="<%=doctor.sImg%>" alt="">
                        </div>
                        </a>
                    </div>
                <%}%>
            <%})%>
        </div>

        <h4 class="doctor-intro">骨科医生介绍</h4>
        <div class="single-department clearfix">
            <%doctors.forEach(function(doctor){%>
                <%if(doctor.department == '骨科'){%>
                    <div data-description="<%=doctor.description%>"
                         data-department="<%=doctor.department%>"
                         data-doctor="<%=doctor.doctor%>"
                         data-professional="<%=doctor.professional%>"
                         data-simg="<%=doctor.sImg%>" 
                         class="single-doctor col-md-3 col-sm-4 col-xs-6">
                        <a href="javascript:;">
                        <div class="rImgDoc">
                            <span class="mask">
                                <p class="name"><%=doctor.doctor%></p>
                                <p class="intro"><%=doctor.professional.split(',').join(' ')%></p>
                            </span>
                            <img src="<%=doctor.sImg%>" alt="">
                        </div>
                        </a>
                    </div>
                <%}%>
            <%})%>
        </div>

        <h4 class="doctor-intro">麻醉科医生介绍</h4>
        <div class="single-department clearfix">
            <%doctors.forEach(function(doctor){%>
                <%if(doctor.department == '麻醉科'){%>
                    <div data-description="<%=doctor.description%>"
                         data-department="<%=doctor.department%>"
                         data-doctor="<%=doctor.doctor%>"
                         data-professional="<%=doctor.professional%>"
                         data-simg="<%=doctor.sImg%>" 
                         class="single-doctor col-md-3 col-sm-4 col-xs-6">
                        <a href="javascript:;">
                        <div class="rImgDoc">
                            <span class="mask">
                                <p class="name"><%=doctor.doctor%></p>
                                <p class="intro"><%=doctor.professional.split(',').join(' ')%></p>
                            </span>
                            <img src="<%=doctor.sImg%>" alt="">
                        </div>
                        </a>
                    </div>
                <%}%>
            <%})%>
        </div>
    <%}%>
    <p class="pageIntro" style=""><a href="/aboutDepartments" style="color:white;">点击查看科室介绍</a></p>
</div>


<div class="modal fade" id="doctorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row info-wrap">
                    <div class="col-sm-4">
                        <img class="photo" src="" alt="">
                    </div>
                    <div class="col-sm-8 info-block">
                        <div class="name-line">
                            <span class="doctor"></span>

                            <span class="department">所属科室：</span>
                        </div>

                        <div class="professional-line">
                            <p class="professional"></p>
                        </div>

                        <div class="description-line">
                            <span>简介：</span>
                            <p class="description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script type="text/javascript">
    $(function() {
        $('.first-nav.doctors').addClass('active')
    })
</script>

