<div style="background-color:#fffff1;">
    <div class="container" style="padding-top:30px;">
        <h3 class="titleIntro" style="margin-bottom:30px;">医院简介</h3>
        <div style="height:auto; margin-bottom:30px;">
            <img style="width:100%;" src="/themes/<%=staticforder%>/images/yuanxun1.jpg">
        </div>
        <h3 class="titleIntro" style="margin-bottom:30px;">医院院训</h3>
        <div style="height:auto;">
            <img style="width:100%;" src="/themes/<%=staticforder%>/images/yuanxun2.jpg">
        </div>
        <div style="padding-bottom:40px;">
            <h3 class="titleIntro" style="margin-top:30px; margin-bottom:30px;">医院荣誉</h3>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-md-4">
                    <img src="/themes/<%=staticforder%>/images/honor1.jpg" style="width:100%;">
                </div>
                <div class="col-md-4">
                    <img src="/themes/<%=staticforder%>/images/honor2.jpg" style="width:100%;">
                </div>
                <div class="col-md-4">
                    <img src="/themes/<%=staticforder%>/images/honor3.jpg" style="width:100%;">
                </div>
            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-md-4">
                    <img src="/themes/<%=staticforder%>/images/honor4.jpg" style="width:100%;">
                </div>
                <div class="col-md-4">
                    <img src="/themes/<%=staticforder%>/images/honor5.jpg" style="width:100%;">
                </div>
                <div class="col-md-4">
                    <img src="/themes/<%=staticforder%>/images/honor6.jpg" style="width:100%;">
                </div>
            </div> 
        </div>
    </div>
</div>