<link rel="stylesheet" href="/themes/<%=staticforder%>/css/department_nav.css?vesion=<%=siteConfig.version%>">
<div class="about-departments-wrap">
    <div class="department-nav container">
        <h5 class="position">您现在的位置：<a href="/">首页</a> > <a href="">科室导航</a></h5>
    <!--         <div class="innerBanner" style="display:none;">
            <img src="/themes/<%=staticforder%>/images/newsCenter.jpg" style="width:100%; margin:20px 0 0 0 ;">
        </div> -->

        <div class="page-intro">
            <h2>
                科室导航
            </h2>
            <h4>
                介绍本院各个科室的入口
            </h4>
        </div>

        <div class="row whole-departments">
            <div class="right col-md-12 col-sm-12">
                <div class="row special-departments">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="special">
                            <a target="_blank" href="https://mp.weixin.qq.com/s/P-WhEpyNjxl-IgTtH7OZaw">
                                <img src="/themes/<%=staticforder%>/images/chinese_med.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="special">
                            <img src="/themes/<%=staticforder%>/images/express.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="special">
                            <img src="/themes/<%=staticforder%>/images/equipments.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="department-line">
                    <!-- <div class="department-group expert active">
                        <a data-target="clinical" class="department-title active" href="javascript:;">
                            专家门诊
                            <i></i>
                        </a>

                        <ul class="row">
                            <li class="department col-md-2 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
                            <li class="department col-md-2 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
                            <li class="department col-md-2 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
                            <li class="department col-md-2 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
                            <li class="department col-md-2 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
                            <li class="department col-md-2 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
                            <li class="department col-md-2 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
                            <li class="department col-md-2 col-sm-3 col-xs-3"><a href="#">专家门诊</a></li>
                        </ul>
                    </div> -->

                    <div class="department-group clinical">
                        <a data-target="clinical" style="background: #55a5aa;" class="department-title active" href="javascript:;">
                            临床科室
                            <i style="border-top: 13px solid#55a5aa;"></i>
                        </a>

                        <ul class="row">
                            <%if (clinicDeps.length > 0) {%>
                                <% clinicDeps.forEach(function(dep){ %>
                                    <li class="department col-md-2 col-sm-3 col-xs-3">
                                        <a href="/department/<%=dep._id%>" class="link ellipsis"><%=dep.department%></a>
                                    </li>
                                <% }) %>
                            <%}%>
                        </ul>
                    </div>

                    <div class="department-group skill mb20">
                        <a data-target="clinical" style="background: #e5ca8f;" class="department-title active" href="javascript:;">
                            医技科室
                            <i style="border-top: 13px solid #e5ca8f;"></i>
                        </a>

                        <ul class="row">
                            <%if (techDeps.length > 0) {%>
                                <% techDeps.forEach(function(dep){ %>
                                    <li class="department col-md-2 col-sm-3 col-xs-3">
                                        <a href="/department/<%=dep._id%>" class="link ellipsis"><%=dep.department%></a>
                                    </li>
                                <% }) %>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('.first-nav.departments').addClass('active')
    })
</script>
