<link rel="stylesheet" href="/themes/<%=staticforder%>/css/department_nav.css?vesion=<%=siteConfig.version%>">

<div class="department-detail">
	<div class="container">
		<h5 class="position mb20">您现在的位置：<a href="/">首页</a> > <a href="/departments">科室导航</a> > <a href="#"><%=departmentInfo.department%></a></h5>

		<div class="department-intro row">
			<div class="department-photo col-lg-5 col-md-6 col-sm-12 col-xs-12">
				<div class="rImg65">
					<img src="<%=departmentInfo.sImg%>" />
				</div>
			</div>
			<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
				<div class="department-info box-shadow"><h3><%=departmentInfo.department%></h3>
					<div class="content-wrap"><%-departmentInfo.description%></div>
					<% if(departmentInfo.subjects != ''){ %>
					<div class="subjects-wrap">
						<h5>科室特色</h5>
						<ul class="clearfix">
							<% departmentInfo.subjects.split(',').forEach(function(item){ %>
							    <li class="subject"><%=item%></li>
							<%})%>
						</ul>
					</div>
					<%}%>
				</div>
			</div>
		</div>

		<% if(doctors.length){ %>
		<div class="doctors">
			<h3>科室医生</h3>
			<div class="doctors-wrap row">
				<% doctors.forEach(function(doctor){ %>
				    <div data-description="<%=doctor.description%>"
			    	     data-department="<%=doctor.department%>"
			    	     data-doctor="<%=doctor.doctor%>"
			    	     data-professional="<%=doctor.professional%>"
			    	     data-simg="<%=doctor.sImg%>" 
			    	     class="single-doctor col-md-3 col-sm-4 col-xs-6">
				    	<a href="javascript:;">
				    	<div class="rImgDoc">
					    	<span class="mask">
					    		<p class="name"><%=doctor.doctor%></p>
					    		<p class="intro ellipsis2"><%=doctor.professional.split(',').join('  ')%></p>
					    	</span>
				    		<img src="<%=doctor.sImg%>" alt="">
				    	</div>
				    	</a>
				    </div>
				<%})%>
			</div>
		</div>
		<%}%>

		<div class="news-line row">
			<% if(departmentInfo.subDepartments && departmentInfo.subDepartments != ''){ %>
			<div class="sub-departments-wrap col-md-4">
				<div class="sub-departments box-shadow">
					<h4>下属科室</h4>
					<ul class="clearfix">
						<% departmentInfo.subDepartments.split(',').forEach(function(department, i){ %>
							<li class="single-news">
								<a href="/detail/">
									<%=department%>
								</a>
							</li>
						<%})%>
					</ul>
				</div>
			</div>
			<%}%>
			<div class="col-md-8">
				<div class="news-wrap box-shadow">
					<h4>相关动态</h4>
					<% if(articles.length){ %>
						<ul>
						<% articles.forEach(function(article, i){ %>
							<li class="single-news">
								<% if (article.from == '3') { -%>
									<a target="_blank" href=<%=article.originUrl%>>
										<p class="ellipsis">
											<%=i+1+'、'%><%=article.title%>
											<span class="fr"><%=article.dateSeted%></span>
										</p>
									</a>
								<% } else { -%>
									<a href=<%='/details/'+article._id%>>
										<p class="ellipsis"><%=i+1+'、'%><%=article.title%>
											<span class="fr"><%=article.dateSeted%></span>
										</p>
									</a>
								<% } -%>
							</li>
						<%})%>
						</ul>
					<%}else{%>
						<p>暂无相关动态</p>
					<%}%>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="doctorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row info-wrap">
                    <div class="col-sm-4">
                        <img class="photo" src="" alt="">
                    </div>
                    <div class="col-sm-8 info-block">
                        <div class="name-line">
                            <span class="doctor"></span>

                            <span class="department">所属科室：</span>
                        </div>

                        <div class="professional-line">
                            <p class="professional"></p>
                        </div>

                        <div class="description-line">
                            <span>简介：</span>
                            <p class="description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
