<div class="container aboutNewsCenter">
    <div class="innerBanner" style="display:none;"><img src="/themes/<%=staticforder%>/images/newsCenter.jpg" style="width:100%; margin:20px 0 0 0 ;"></div>
    <h2 class="pageIntro"><a href="/picNews___VkhdrsWpl">图片新闻</a></h2>
    <div class="row areaPicNews">
        <%contentLists.forEach(function(item){%>
            <div class="col-xs-6 col-md-4">
                <div class="picDiv">
                    <a title="<%=item.title%>" href="/details/<%=item._id%>.html">
                        <img style="border:solid 1px #e3e3e3;" class="img-responsive" alt="<%=item.title%>" src="<%=item.sImg%>">
                    </a>
                </div>
                <div class="titleDiv" style=""><a title="<%=item.title%>" href="/details/<%=item._id%>.html"><%=item.title%></a>
                </div>
            </div>
            <%})%>
        <%if(contentLists.length>0){%>
        <%}else{%>
        <li class="text-center">暂无推荐内容...</li>
        <%}%>

    </div>
    <% include pagination %>
</div>