<!--分页模块-->
<div class="pagenation text-center">
    <ul>
        <%var localUrl;var param ='';%>
        <%if(pageType == 'index'){
            localUrl = "/page";
        }else if(pageType == 'cate'){
            localUrl = '/'+ cateInfo.defaultUrl + '___' + cateInfo._id;
        }else if(pageType == 'search'){
            param = '?searchKey=' + pageInfo.searchKey;
            localUrl = '/content/searchResult/items';
        }else if(pageType == 'replies'){
            localUrl = '/users/userReplies/p';
        }else if(pageType == 'notifies'){
            localUrl = '/users/userNotifies/p';
        }else if(pageType == 'contentList'){
            localUrl = '/contentList/' + category
        }
        %>

        <%var totalItems = pageInfo.totalItems; var limit = pageInfo.limit%>
        <%var totalPage = Math.ceil(totalItems / limit) ;%>

        <%
        var page_start = pageInfo.currentPage - 2 > 0 ? pageInfo.currentPage - 2 : 1;
        var page_end = page_start + 4 >= totalPage ? totalPage : page_start + 4;
        %>

        <%if(pageInfo.currentPage != 1){%>
        <li><a href="<%=localUrl%>/<%=param%>"><i class="fa fa-arrow-left"></i></a></li>
        <%}%>

        <% if (page_start > 1) { %>
        <li><a href="<%=localUrl%>/<%=param%>">1</a> </li>
            <% if ((page_start - 1) > 1) { %>
                <li><a class="fa fa-ellipsis-h"></a></li>
            <% } %>
        <% } %>

        <%for(var i=page_start;i<=page_end;i++){%>
            <%if(i == pageInfo.currentPage){%>
                 <li class="active"><a><%=i%></a></li>
            <%}else{%>
                 <li><a href="<%=localUrl%>/<%=i%><%=param%>"><%=i%></a></li>
            <%}%>
        <%}%>

        <% if (page_end < totalPage ) {%>

            <% if ((totalPage - page_end) > 1) { %>
                <li><a class="fa fa-ellipsis-h"></a></li>
            <% } %>
            <li><a href="<%=localUrl%>/<%=totalPage%><%=param%>"><%=totalPage%></a> </li>
        <% } %>

        <%if(totalPage != 0 && pageInfo.currentPage != totalPage){%>
            <li><a href="<%=localUrl%>/<%=totalPage%><%=param%>"><i class="fa fa-arrow-right"></i></a></li>
        <%}
        %>
    </ul>
</div>