<link rel="stylesheet" href="/themes/<%=staticforder%>/css/various_blocks.css?vesion=<%=siteConfig.version%>">

<div class="various-blocks">
	<div class="container">
		<h3 class="title">医院发展</h3>

		<div class="row">
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="#">
					<img src="/themes/<%=staticforder%>/images/blocks/hospital.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="/contentList/publicWorks">
					<span style="color: white;" class="float1 coming-soon">坚决贯彻</span>
					<span style="color: white;" class="float2 coming-soon">党的领导方针</span>
					<img src="/themes/<%=staticforder%>/images/blocks/public.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" target="_blank" href="https://mp.weixin.qq.com/s/jgn1MZpsN3zgePIfpe2dPQ">
					<span style="color: #000;" class="float coming-soon">远程会诊中心</span>
					<img src="/themes/<%=staticforder%>/images/blocks/remote.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" target="_blank" href="http://www.cnr.cn/ah/tt/20171221/t20171221_524070174.shtml">
					<span style="color: white;" class="float coming-soon">全科医生机器人</span>
					<img src="/themes/<%=staticforder%>/images/blocks/robot.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="#">
					<span style="color: white;" class="float1 coming-soon">永远致力于</span>
					<span style="color: white;" class="float2 coming-soon">提高医疗水平</span>
					<img src="/themes/<%=staticforder%>/images/blocks/treat.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="#">
					<span class="float1 coming-soon">住院疗养楼</span>
					<span class="float2 coming-soon">-敬请期待-</span>
					<img src="/themes/<%=staticforder%>/images/blocks/construct.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="#">
					<span style="color: white;" class="float1 coming-soon">中草药种植基地</span>
					<span style="color: white;" class="float2 coming-soon">-敬请期待-</span>
					<img src="/themes/<%=staticforder%>/images/blocks/chinese.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="#">
					<span style="color: white;" class="float1 coming-soon">核磁共振</span>
					<span style="color: white;" class="float2 coming-soon">-敬请期待-</span>
					<img src="/themes/<%=staticforder%>/images/blocks/equip.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
