<link rel="stylesheet" href="/themes/<%=staticforder%>/css/various_blocks.css?vesion=<%=siteConfig.version%>">

<div class="various-blocks">
	<div class="container">
		<h3 class="title">医院发展</h3>

		<div class="row">
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="ratio-img-wrap-75" href="#">
					<img src="/themes/<%=staticforder%>/images/blocks/hospital.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="ratio-img-wrap-75" href="#">
					<img src="/themes/<%=staticforder%>/images/blocks/public.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="ratio-img-wrap-75" href="#">
					<img src="/themes/<%=staticforder%>/images/blocks/remote.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="ratio-img-wrap-75" href="#">
					<img src="/themes/<%=staticforder%>/images/blocks/robot.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="ratio-img-wrap-75" href="#">
					<img src="/themes/<%=staticforder%>/images/blocks/treat.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="ratio-img-wrap-75" href="#">
					<img src="/themes/<%=staticforder%>/images/blocks/construct.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="ratio-img-wrap-75" href="#">
					<img src="/themes/<%=staticforder%>/images/blocks/chinese.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="ratio-img-wrap-75" href="#">
					<img src="/themes/<%=staticforder%>/images/blocks/equip.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
