<link rel="stylesheet" href="/themes/<%=staticforder%>/css/various_blocks.css?vesion=<%=siteConfig.version%>">

<div class="various-blocks">
	<div class="container">
		<h3 class="title">医院发展</h3>

		<div class="row">
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="#">
					<img src="<%=cdnfolder%>/hospital.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="/contentList/publicWorks">
					<span style="color: white;" class="float1 coming-soon">不忘初心</span>
					<span style="color: white;" class="float2 coming-soon">牢记使命</span>
					<img src="<%=cdnfolder%>/public.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" target="_blank" href="https://mp.weixin.qq.com/s/jgn1MZpsN3zgePIfpe2dPQ">
					<span style="color: #000;" class="float coming-soon">远程会诊中心</span>
					<img src="<%=cdnfolder%>/remote.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" target="_blank" href="http://www.cnr.cn/ah/tt/20171221/t20171221_524070174.shtml">
					<span style="color: white;" class="float coming-soon">全科医生助手机器人</span>
					<img src="<%=cdnfolder%>/robot.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="#">
					<span style="color: white;" class="float1 coming-soon">永远致力于</span>
					<span style="color: white;" class="float2 coming-soon">提高医疗水平</span>
					<img src="<%=cdnfolder%>/treat.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="#">
					<span class="float1 coming-soon">医养结合住院部</span>
					<span class="float2 coming-soon">-敬请期待-</span>
					<img src="<%=cdnfolder%>/construct.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="#">
					<span style="color: white;" class="float coming-soon">国医堂</span>
					<img src="<%=cdnfolder%>/chinese.jpg" alt="">
				</a>
			</div>
			<div class="block col-md-3 col-xs-6 col-sm-6">
				<a class="rImg75" href="#">
					<span style="color: white;" class="float coming-soon">核磁共振</span>
					<img src="<%=cdnfolder%>/equip.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
